body, input, button, text {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.margin {
        margin-top: 15px;
        margin-bottom: 15px;
}

.grup_numero input{
        width: 112px;
}

#chaveAcesso {
        width: 380px;
}

#info {
        font-size: 12px;
        color: green;
}