* {
        margin: 0;
        padding: 0;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
}

:is(body, input, button, text) {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
        background-color: #222831;
        /* padding: 0 50%; */
}

.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4rem 0;
}

.wrapper {
        display: flex;
        flex-direction: column;
        background-color: #393E46;
        border-radius: 4px;
        border: solid 2px #D65A31;
        padding: 1rem;
        gap: 1rem;
}

.main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
}

label {
        font-size: .8rem;
        color: #EEEEEE;
}

button {
        display: flex;
        padding: 8px;
        color: #f4f4f4;
        background-color: #D65A31;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        align-items: center;
        justify-items: center;
        text-align: center;
        /* line-height: 0; */
}

button:hover {
        background-color: #c23608;
}

.input_group {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: .25rem;
}

.input_group input {
        padding: 8px;
        border-radius: 4px;
        border: 0;
}

.input_group input:focus {
        outline: none;
        box-shadow: 0 0 0 2px #D65A31;
}

.group_cnpj,
.group_numero,
.group_chave {
        display: flex;
        flex-direction: column;
        gap: .25rem;
}

.group_cnpj {
        gap: .5rem;
}

.campo_cnpj,
.campo_chave {
        display: flex;
        /* justify-content: flex-start; */
        align-items: flex-end;
        gap: .5rem;
}

#gerarCnpj img {
        height: 16px;
}

.input_check_group {
        display: flex;
        text-align: center;
        align-items: center;
        gap: .5rem;
}

#info {
        font-size: 12px;
}


.content {
        display: flex;
        align-items: flex-start;
        background-color: #fff;
        /* height: 10rem; */
}

#barcode {
        display: flex;
        width: 30rem;
}